DISCORD_WEBHOOK_URL=<YOUR_DISCORD_WEBHOOK_URL_HERE>
CRUNCHYROLL_ETP_RT=<YOUR_CRUNCHYROLL_ETP_RT_COOKIE_VALUE_HERE>
CRUNCHYROLL_ETP_JWT=<YOUR_CRUNCHYROLL_ETP_JWT_COOKIE_VALUE_HERE>
OPEN_ON_STARTUP=<true|false>
OPEN_WEBPAGE_URL=<OPTIONAL_URL_TO_OPEN_ON_STARTUP>